// レスポンシブ対応
$pc: 1200px; //PC
$sp: 600x; //sp
@mixin pc {
  @media (max-width:($pc)){
    @content;
  }
}
@mixin sp {
  @media (max-width:($sp)){
    @content;
  }
}

$pc-down: 1199px;
$sp-up: 601px;
@mixin pc-down {
  @media (max-width:($pc-down)){
    @content;
  }
};
@mixin sp-up {
  @media (max-width:($sp-up)){
    @content;
  }
};

//mapの登録
// $breakpoints: (
//   //スマホ用
//   "sp": "(max-width: 600px)",
//   // PC用
//   "pc": "(min-width: 1200px)"
// );
// //mixinの定義
// @mixin mq($breakpoint: sp) {
//   @media #{map-get($breakpoints, $breakpoint)} {
//     @content;
//   }
// }